body {
    font-family: Arial, sans-serif;
    background-color: #dcf5ff; /* Azul claro */
    color: #001f3f; /* Texto en azul oscuro para contraste */
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

img {
    width: 800px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #001f3f; /* Bordes en azul oscuro */
}

button {
    padding: 10px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

footer {
    text-align: center;
    margin-top: 20px;
}
